* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*Content*/
.About{
    font-size: 80px;
    font-style: italic;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .light{
  border: 1px solid black;
  max-width: 1000px;
  margin: auto;  
}
.Text{
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 2em;
    font-size: 18px;
}
img{
   max-width: 40%;
   height: auto;
   border-radius: 50px;
   margin-inline: 50px;
}
