/*navbar*/
.navbar {
  width: 100%;
  padding: 0;
  background: #152F4F;
  color: white;
}
.Title{
  color: white;
  display: flex;
  text-decoration: none;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
}
#navbarNavDropdown{
  justify-content: end;
}
.nav-link{
  font-size: 20px; 
  transition-duration: 0.4s;

}
.navbar-nav>li>a {

  color : white !important
 }


 /*footer*/
 .footer{
  background: #152F4F;
  width: 100%;
  color:white; 
  display: flex;
}
.col-xs-12 h2 {
  color: white !important; 
  display: flex;
  text-decoration: none;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}
.pr-7{
  line-height: 2em;
}

.social-icons{
  color: white;
}
.social-icons :hover{
  color: #EDEEF2;
}
.col-lg-2{
  margin-left: 90px;
}
.mt-lg-0{
  display: flex;
  text-decoration: none;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

.p-0 li a{
  font-size: 18px;
  text-decoration: none;
  line-height: 2em;
}
.links ul{
    list-style-type: none;
    }
    .links li a{
      color: white;
      transition: color .2s;}
      .links li a :hover{
        text-decoration:none;
        color:#4180CB;
        }
.copyright p{
    border-top:1px solid white;
  } 




 